<section class="fb-section fb-section--dark fb-final" id="footer-cta">
  <div class="container">
    <h2 class="h2 fb-final__title">Ready to start your online business?</h2>
    <p class="lead fb-final__sub">Your store is waiting, stocked with 100 products. Your Growth Manager is ready. All you have to do is sign up.</p>
    <div class="fb-actions fb-actions--center fb-final__actions">
      <a class="btn btn--light" href="#" data-stub="checkout">Start your free store</a>
    </div>
  </div>
</section>
